@page "/create"
@using BlazorDiffusion.Components.Identity
@attribute [Authorize]
@inherits AppAuthComponentBase

<PageTitle>Create new Image with Stable Diffusion</PageTitle>

<div id="create" class="mx-auto px-6 lg:px-8">
    <div class="mb-8 mx-auto max-w-2xl text-center">
        <h1 class="max-w-4xl font-display text-4xl font-semibold tracking-tight text-slate-50 sm:text-5xl lg:text-6xl">Create Image</h1>
    </div>

    <div id="app" data-component="pages/Create.mjs"></div>
</div>
