@page "/favorites"
@using BlazorDiffusion.Components.Identity
@attribute [Authorize]
@inherits AppAuthComponentBase

<PageTitle>My Favorites</PageTitle>

<div id="favorites" class="mx-auto px-6 lg:px-8">
    <div class="mb-8 mx-auto max-w-2xl text-center">
        <h1 class="max-w-4xl font-display text-4xl font-semibold tracking-tight text-slate-50 sm:text-5xl lg:text-6xl">My Favorites</h1>
    </div>
</div>

<div data-component="pages/Favorites.mjs"></div>
